doctype
html
  head
    title o-grid demo
    link(rel='stylesheet' href='style.css')
  body

    #grid-demo

      header: .inner site name

      section: .inner
        nav
          ul
            li one
            li two
            li tre

      main
        section: .inner section 1
        section: .inner section 2

      footer: .inner &copy; 2014 Joshua Kleckner
