doctype
html
  head
    title o- demo
    link(rel='stylesheet', href='style.css')
  body 
    main

      h3: code #{'>> o-emboss'}
      .emboss

      h3: code #{'>> o-minimal-box-shadow'}
      .minimal-box-shadow

      h3: code #{'>> o-underline-text-on-hover'}
      .underline-text-on-hover(style='height:32px;background:#777;')