@import ../o-
@import ../o-grid

*,
*:before,
*:after
  box-sizing: border-box

#grid-demo
  background: #444
  +o--(o-grid)
  header,
  footer
    +o--(o-col-12)
  header + section
    +o--(o-col-2)
  main
    +o--(o-col-10)
    section
      +o--(o-col-6)
  .inner
    color: #fbfbfb
    background: #444
    border: 1px solid o-grayscale(255, 0.25)
    padding: 16px
  