@import '../o-';
@import url(https://fonts.googleapis.com/css?family=Droid+Sans+Mono);

$unit: 14px;
$text-color: o-md-color('grey', 700);

body {
  font-family: 'Droid Sans Mono', monospace;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: $text-color;
}

h1 {
  text-align: center;
  color: $text-color;
}

@include o-border-box;
@include o-generate-grid-classes;
@include o-checkbox;
@include o-radio;

[class^=o-col] {
  height: $unit*4;
  border: 1px solid o-gray(50);
}

.test {
  @include o-center($unit*2);
  padding: $unit;
  width: 75%;
}

.rc {
  @include o-size($unit);
  display: inline-block;
  font-size: $unit/2;
  margin: 0;
  padding: 0;
}
@for $i from 1 through 100 {
  .rc-#{$i} {
    background: o-closest-md-color(o-random-color());
  }
}

@include o-range;
.range {
  @include o-range(red, blue, true);
}

.p1 {
  color: o-md-color('red');
}
.p2 {
  color: o-md-color('green');
}
.p3 {
  color: o-md-color('blue');
}

.p4 {
  color: o-closest-md-color(yellow);
  background: o-closest-md-color(blue);
}
.p5 {
  color: o-closest-md-color(green);
  background: o-closest-md-color(red);
}
.p6 {
  color: o-closest-md-color(blue);
  background: o-closest-md-color(yellow);
}

.media {
  @include o-center;
  background: white;
  height: 64px;
  border: 1px solid black;
  @include o-media(lg) {
    width: 25%;
  }
  @include o-media(md) {
    width: 75%;
  }
  @include o-media(sm) {
    width: 100%;
  }
  @include o-trickle {
    background: red;
  }
}
