@import ../o-
@import ../o-grid

*,
*:before,
*:after
  box-sizing: border-box

#main-wrapper
  +o-x(o-col-12)

$color: #FF8080

.half
  +o-x(o-col-6)
  .content 
    background: invert($color)
    padding: 16px
  @media (max-width: 700px)
    +o-span(12)

.third
  +o-x(o-col-4)
  .content
    background: complement($color)
    padding: 8px
  @media (max-width: 700px)
    +o-span(12)
  