doctype
html
  head
    title o- demo
    //- link(rel='stylesheet', href='markdown.css')
    //- link(rel='stylesheet', href='monokai.css')
    link(rel='stylesheet', href='style.css')
    //- script(src='highlight.pack.js')

  body: #main-container.markdown-body
    
    #main-header: .inner: h1#banner o-
    #sidebar: .inner: nav: include _list
    #content
      .inner: include:md ../README.md
      .inner: include _content.html

    //- script hljs.initHighlightingOnLoad();
