ul
  li: a(href='#classes/o-center-child') classes/o-center-child
  li: a(href='#classes/o-center-parent') classes/o-center-parent
  li: a(href='#classes/o-clearfix') classes/o-clearfix
  li: a(href='#classes/o-nopaque') classes/o-nopaque
  li: a(href='#classes/o-opaque') classes/o-opaque
  li: a(href='#components/o-checkbox') components/o-checkbox
  li: a(href='#components/o-grid') components/o-grid
  li: a(href='#components/o-loader') components/o-loader
  li: a(href='#functions/o-as-percent') functions/o-as-percent
  li: a(href='#functions/o-golden-ratio') functions/o-golden-ratio
  li: a(href='#functions/o-grayscale') functions/o-grayscale
  li: a(href='#functions/o-random-color') functions/o-random-color
  li: a(href='#functions/o-strip-unit') functions/o-strip-unit
  li: a(href='#mixins/o--') mixins/o--
  li: a(href='#mixins/o-center') mixins/o-center
  li: a(href='#mixins/o-clearfix') mixins/o-clearfix
  li: a(href='#mixins/o-emboss') mixins/o-emboss
  li: a(href='#mixins/o-horizontal-nav') mixins/o-horizontal-nav
  li: a(href='#mixins/o-list-unstyled') mixins/o-list-unstyled
  li: a(href='#mixins/o-minimal-box-shadow') mixins/o-minimal-box-shadow
  li: a(href='#mixins/o-respond-to') mixins/o-respond-to
  li: a(href='#mixins/o-size') mixins/o-size
  li: a(href='#mixins/o-underline-text-on-hover') mixins/o-underline-text-on-hover
  li: a(href='#mixins/o-x') mixins/o-x
