@import ../o-

$main-color: #fff
$link-color: yellow
$code-font: Consolas, "Liberation Mono", Menlo, Courier, monospace

*,
*:before,
*:after
  box-sizing: border-box
  margin: 0

body
  background: #FD5200
  font-family: verdana, sans-serif
  font-size: 14px
  color: #ddd

.inner
  padding: 16px 

#main-container
  +o--(o-grid)

#main-header
  +o--(o-col-12)
  h1 
    text-align: center

#sidebar
  +o--(o-col-3)
  border-right: o-grayscale(127, 0.25)
  ul
    +o-list-unstyled

#content
  +o--(o-col-9)

.doc
  background: rgba(0,0,0,0.0125)
  padding: 16px
  margin-bottom: 32px
  border: 1px solid o-grayscale(127, 0.25)
  > p:first-child
    height: 0px
    width: 0px
    display: inline

.markdown-body
  h1
    margin: 0 0 12px 0
    color: $link-color
  .doc h1
    font-family: $code-font
    font-size: 20px

.markdown-body *
  color: $main-color

a, 
.markdown-body a
  +o-underline-text-on-hover($main-color)
  color: $link-color
  &:link, &:hover, &:active
    color: $link-color
    text-decoration: none 
  &:before
    content: ' '

