@import ../o-

$main-color: #444
$gray: #888
$link-color: #468C39
$background-color: #fff
$code-font: monospace
$font: 'Times New Roman', serif

*,
*:before,
*:after
  box-sizing: border-box
  margin: 0

.z 
  position: absolute
  top: 0

body
  background: $background-color
  font-family: $font
  font-size: 16px
  color: $main-color
  // background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAALklEQVQYV2P8WsUlyUAEYAQp5G779hyfWpAaGirE5VaQs1CsJlrhAHmGiPBmAADbTDe/DCSBLQAAAABJRU5ErkJggg==) repeat
  // background-attachment: fixed

h1#banner
  font-size: 156px
  font-family: Georgia

.inner
  padding: 16px 

#main-container
  +o--(o-grid)

#main-header
  +o--(o-col-12)
  h1 
    text-align: center

#sidebar
  +o--(o-col-3)
  border-right: o-grayscale(127, 0.25)
  ul
    +o-list-unstyled
  a
    margin: 4px

#content
  +o--(o-col-9)

.doc
  background: rgba(0,0,0,0.025)
  padding: 16px
  margin-bottom: 32px
  // border: 1px solid o-grayscale(127, 0.25)
  > p:first-child
    height: 0px
    width: 0px
    display: inline

h1, h2, h3, h4, h5, h6
  margin: 16px 0

.doc h1
  color: $link-color
  // font-family: $code-font
  font-size: 20px

p
  margin: 8px 0

blockquote
  color: $gray
  margin-left: 16px

a, 
  +o-underline-text-on-hover($main-color)
  color: $link-color
  &:link, &:hover, &:active
    color: $link-color
    text-decoration: none 
  &:before
    content: ' '

code
  padding: 0 3px
  color: $gray
  background: rgba(0,0,0,0.025)
pre
  padding: 16px
  background: rgba(0,0,0,0.025)
pre code
  background: transparent


